#nav-cajaH {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background:url(https://edusites.website/moodle/theme/snap/pix/segurosbolivar/bg_caja.png);
    background-size: cover;    
    background-repeat:no-repeat;
    background-position:center;
    padding: 7rem 0rem;
    margin: 0.5rem;
    transition:all 0.3s ease-in-out;
    &:hover{
        transform: scale(1.05);
    }
    .muneca { 
        grid-area: 1 / 1 / 3 / 2; 
        text-align: right;
    }
    .mod1 { grid-area: 1 / 2 / 2 / 3; }
    .mod3 { grid-area: 2 / 2 / 3 / 3; }
    .mod2 { grid-area: 1 / 3 / 2 / 4; }
    .mod4 { grid-area: 2 / 3 / 3 / 4; }
}

.contenidos-cajaH{
    display: grid;
    grid-template-columns: repeat(2, minmax(50%, 1fr));
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    .caja-linkH{
        display:flex;
        flex-direction:column;
        justify-content: start;
    }    
}
    

@mixin caja-sm() {
    #nav-cajaH {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        .muneca { 
            display:none;
        }
        .mod1 { grid-area: 1 / 1 / 2 / 2; }
        .mod2 { grid-area: 2 / 1 / 3 / 2; }
        .mod3 { grid-area: 3 / 1 / 4 / 2; }
        .mod4 { grid-area: 4 / 1 / 5 / 2; }
    }
}