#moodle-footer{
    div:not(#snap-site-footer){
        display:none!important;
    }
}
.activity-navigation{
    .pull-right {
        float: right;
        margin-left: .3em;
        border-left: 1px solid #dee2e6;
        width: 50px;
    }

    .pull-left {
        float: left;
        margin-right: .3em;
        border-right: 1px solid #dee2e6;
    }
}