#moodle-footer{
    margin: 0;
    padding: 0;    
    &>div:not(#snap-site-footer){
        display:none!important;
    }
    ul{
        text-decoration: none;
        list-style: none;
    }
    #snap-footer-content{
        padding:1em;
    }
    #snap-site-footer{
        display:flex;
    }
}
.activity-navigation{
    .pull-right {
        float: right;
        margin-left: .3em;
        border-left: 1px solid #dee2e6;
    }
    .pull-left {
        float: left;
        margin-right: .3em;
        border-right: 1px solid #dee2e6;
    }
    .activity-navigation .col-md-4 {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}