//quitar el link a home de moodle y agregar logo de seguros bolivar
header#mr-nav {
    a#snap-home {
        display: none;
    }
    &::before {
        content: "";
        background-image: url(http://jkvela.website/theme/snap/pix/segurosbolivar/logo_segurosbolivar_blanco.png);
        display: inline-block;
        background-size: contain;
        background-repeat: no-repeat;
        min-width: 216px;
        min-height: 45px;
    }
}

@mixin header-xs() {
    header#mr-nav {
        &::before {
            display: none;
        }
    }
}