section#region-main {
    padding: 0;
    overflow: hidden;
    .carousel-control-prev-icon, .carousel-control-next-icon {
        display: inline-block;
        width: 30px;
        height: 30px;
        background: white;
        border-radius: 50%;
        padding: 4px;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
    }
    .carousel-control-next-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' fill=\'rgb(0, 109, 56)\' viewBox=\'0 0 8 8\'%3E%3Cpath d=\'M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z\'/%3E%3C/svg%3E");
        background-size: 80%;
        background-position: center;
        background-repeat: no-repeat;
    }
    .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' fill=\'rgb(0, 109, 56)\' viewBox=\'0 0 8 8\'%3E%3Cpath d=\'M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z\'/%3E%3C/svg%3E");
        background-size: 80%;
        background-position: center;
        background-repeat: no-repeat;
    }
}

#page-mod-lesson-view div[role="main"]{
    text-align: center;
    font-family: "Roboto Condensed"!important;
    h2{
        min-height: 22vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $gris-no1;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
    &>h3{
        display:none!important;
    }
    h3:not(#final-descripcion){
        font-weight: 600;
        margin-top: 2rem;
        padding: 0 10%;
        b{
            color:$verde;
        }
    }
    p{
        padding:2rem 10%;
    }
    .contenedor-imagenes {
        display: flex;
        flex-wrap: wrap;
        padding:1rem;
        justify-content: center;
        img{
            width:30%;
        }
    }
    .bloque-verde-derecha{
        height: 60vh;
        min-height: 400px;
        display: flex;
        justify-content: flex-end;
        background-image:url(http://proyectoeducativo.com.co/segurosbolivar/theme/snap/pix/segurosbolivar/bg-lesson2_1.jpg);
        background-size:cover;
        background-position: center;
        p{
            background: #016c38d9;
            width: 50%;
            display: flex;
            align-items: center;
            text-align: left;
            color: white;
            height: 100%;
        }
    }

    .bloque-verde-izquierda{
        height: 60vh;
        min-height: 400px;
        display: flex;
        justify-content: flex-start;
        background-image:url(http://proyectoeducativo.com.co/segurosbolivar/theme/snap/pix/segurosbolivar/bg-lesson2_2.jpg);
        background-size:cover;
        background-position: center;
        p{
            background: #016c38d9;
            width: 50%;
            display: flex;
            align-items: center;
            text-align: right;
            color: white;
            height: 100%;
        }
    }

    h4.capsula{
        max-width: 67%;
        font-size: 32px;
        font-weight: 900;
        text-align: center;
        display: block;
        margin: 2rem auto;
        padding: 4rem 0;
        background-image: url(http://proyectoeducativo.com.co/segurosbolivar/theme/snap/pix/segurosbolivar/Capsula.png);
        background-repeat: no-repeat;
        background-size: 40%;
        background-position: center;
        span{
            color:$verde;
        }
    }

    .separador-leccion{
        min-height: 150px;
        min-width: 100%;
        height: 40vh;
        background:$amarillo;
        background-image: url(http://proyectoeducativo.com.co/segurosbolivar/theme/snap/pix/segurosbolivar/mod2/separador1.jpg);
        background-size:cover;
        background-position: center;
        background-repeat:no-repeat;
        &#m2l2s1{  
            background-image: url(http://proyectoeducativo.com.co/segurosbolivar/theme/snap/pix/segurosbolivar/mod2/separador1.jpg);
        }
        &#m2l2s2{  
            background-image: url(http://proyectoeducativo.com.co/segurosbolivar/theme/snap/pix/segurosbolivar/mod2/separador2.jpg);
        }
        &#m2l2s3{  
            background-image: url(http://proyectoeducativo.com.co/segurosbolivar/theme/snap/pix/segurosbolivar/mod2/separador3.jpg);
        }
        &#m2l2s4{  
            background-image: url(http://proyectoeducativo.com.co/segurosbolivar/theme/snap/pix/segurosbolivar/mod2/separador4.jpg);
        }
        &#m2l2s5{  
            background-image: url(http://proyectoeducativo.com.co/segurosbolivar/theme/snap/pix/segurosbolivar/mod2/separador5.jpg);
        }
        &#m2l2s6{  
            background-image: url(http://proyectoeducativo.com.co/segurosbolivar/theme/snap/pix/segurosbolivar/mod2/separador6.jpg);
        }
        &#m2l2s7{  
            background-image: url(http://proyectoeducativo.com.co/segurosbolivar/theme/snap/pix/segurosbolivar/mod2/separador7.jpg);
        }

        &+img:nth-child(even){
            margin-top: -5%;
            margin-left: -35%;
        }
        &+img:nth-child(odd){
            margin-top: -5%;
            margin-right: -35%;
        }
    }

    .contenido-leccion {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        max-width: 43.5em;
        margin: 0 auto;
        background: $gris-no1;
        margin-top: -2rem;
        margin-bottom: 3rem;
        border-radius: 22px 50px;
        padding: 15px;
        padding-top: 2rem;
        &>div{
            width:50%;
            padding:1rem;
            text-align: left;
            p{
                padding:0;
            }
        }
    }

    .contenedor-m3l3{
        .col-md-5.contenedor-podcasts {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            img {
                margin: 1rem auto;
            }
        }
    }
    #carouselMod3L2 .carousel-caption{
        width: 100%;
        margin: 0;
        padding: 3rem;
        background: $verde-transparencia;
        right: 0;
        left: 0;
        bottom: 0;
        font-size:1rem;
        h5{
            font-weight: 800;
            color:$amarillo;
        }
        p{
            padding: 0;
        }
    }


    blockquote.blockquote {
        border: 0;
        min-height: 650px;
        height: 70vh;
        background: url(http://proyectoeducativo.com.co/segurosbolivar/theme/snap/pix/segurosbolivar/mod1-quote.jpg);
        background-size: cover;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 0;
        margin: 0;
        p,
        footer {
            margin: 0!important;
            max-width: 100% !important;
            background: $verde-t80;
            color: white;
            padding: 2rem 10%;
        }
        p {
            font-style: italic;
            text-align: right;
        }
        footer {
            padding: 0 10% 2rem;
            text-align: right;
            font-size: 1.3rem;
            color: $amarillo;
            font-weight: 600;
            .usertour {
                display: none;
            }
        }
        &#quote-mod2{
            background-image: url(http://proyectoeducativo.com.co/segurosbolivar/theme/snap/pix/segurosbolivar/mod2/quote-mod2.jpg);                
        }
        &#quote-mod3{
            background-image: url(http://proyectoeducativo.com.co/segurosbolivar/theme/snap/pix/segurosbolivar/mod3/quote-mod3.jpg);                
        }
        &#quote-mod3-2{
            background-image: url(http://proyectoeducativo.com.co/segurosbolivar/theme/snap/pix/segurosbolivar/mod3/quote-mod3-2.jpg);                
        }
    }    
}
.activity-navigation .row .col-md-4:nth-child(1),.activity-navigation .row .col-md-4:nth-child(2){
    display:none;
}

@mixin lesson-sm(){
    .activity-navigation .row .col-md-4:nth-child(1),.activity-navigation .row .col-md-4:nth-child(2){
        display:none;
    }
    section#region-main div.m-t-2.m-b-1 .col-md-4 {
        min-height: 1em;
        padding: 0;
        width: 80%;
        margin: 0 auto;
    }
    #page-mod-lesson-view div[role="main"] .bloque-verde-derecha,#page-mod-lesson-view div[role="main"] .bloque-verde-izquierda{
        p{
            width:65%;
        }
    }

    #page-mod-lesson-view div[role="main"] .contenido-leccion {
        flex-wrap: wrap;
        &>div{
            width:90%;            
        }
    }
}
@mixin lesson-xs(){
    section#region-main{
        padding:0;
    }
    #page-mod-lesson-view div[role="main"] {
        p{
            padding: 1rem 10%;
            margin: 0;
        }
        .contenedor-imagenes img{
            width:55%;
        }
        h3{
            padding: 10px 10%;
        }
        .bloque-verde-derecha, .bloque-verde-izquierda{
            height:auto;
            min-height: 100%;
            p{
                width:85%;
            }
        }
    }
    
}

@media (max-width: 768px) {
    #page-mod-lesson-view div[role="main"] #carouselMod3L2 {
        .carousel-item{
            height: 45vh;
            min-height: 325px;            
            .carousel-caption.d-none{
                display:block!important;
                line-height: 1rem;
                font-size: 0.85rem;
                padding-bottom: 2.5rem;
            }
        }
    }
}