#page-mod-lesson-view div[role="main"]{
    text-align: center;
    font-family: "Roboto Condensed"!important;
    h2{
        min-height: 22vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $gris-no1;
        margin-bottom: 2rem;
        box-shadow: inset 0 0 5px #a1a1a2, inset 0 0 8px #b1b1b1;
    }
    h3:first-child{
        display:none!important;
    }
    h3{
        font-weight: 600;
        margin-top: 2rem;
        b{
            color:$verde;
        }
    }
    p{
        padding:2rem;
    }
    .contenedor-imagenes {
        display: flex;
        flex-wrap: wrap;
        padding:1rem;
        justify-content: center;
        img{
            width:30%;
        }
    }
    .bloque-verde-derecha{
        height: 60vh;
        min-height: 400px;
        display: flex;
        justify-content: flex-end;
        background-image:url(http://jkvela.website/theme/snap/pix/segurosbolivar/bg-lesson2_1.jpg);
        background-size:cover;
        background-position: center;
        p{
            background: #016c38d9;
            width: 50%;
            display: flex;
            align-items: center;
            text-align: left;
            color: white;
            height: 100%;
        }
    }

    .bloque-verde-izquierda{
        height: 60vh;
        min-height: 400px;
        display: flex;
        justify-content: flex-start;
        background-image:url(http://jkvela.website/theme/snap/pix/segurosbolivar/bg-lesson2_2.jpg);
        background-size:cover;
        background-position: center;
        p{
            background: #016c38d9;
            width: 50%;
            display: flex;
            align-items: center;
            text-align: right;
            color: white;
            height: 100%;
        }
    }
}

@mixin lesson-md(){
    .activity-navigation .row .col-md-4:nth-child(1),.activity-navigation .row .col-md-4:nth-child(3){
        display:none;
    }
}
@mixin lesson-xs(){
    section#region-main{
        padding:0;
    }
    #page-mod-lesson-view div[role="main"] {
        p{
            padding: 1rem 10%;
            margin: 0;
        }
        .contenedor-imagenes img{
            width:55%;
        }
        h3{
            padding: 10px 10%;
        }
    }
}