//identificador de snap de la pagina de login
#page-login-index{
    //ocultar navegación
    header#mr-nav{
        display:none;        
    }

    //contenedor principal que lleva la imagen de fondo
    main#moodle-page{
        min-height:90vh;
        display:flex;
        background: linear-gradient(rgba(1, 108, 56, 0.7), rgba(1, 108, 56, 0.7)), url(http://jkvela.website/theme/snap/pix/segurosbolivar/bg1.jpg);
        background-size: cover;
        background-position-x: center;

        //div vacio que lleva un header por defecto de moodle, se utiliza para dejar medio contenedor principal vacio para que se vea el background
        div#page-header{
            display:none;
        }        
        section#region-main{
            background-color: $blanco; 
            width: 50%;
            display:flex;
            margin:0!important;
            //contenedor directo de los elementos del login
            div[role="main"]{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                width: 100%;
            }
        }
    }

}

//bg transparente
#page-login-index .snap-login, #page-login-signup .snap-login {
    background-color: rgba(255,255,255,0)!important;
}

//Estilos del contenido
#page-login-index section#region-main div[role="main"] .snap-login{
    padding:2em 9%;
    h4{
        margin-bottom: 0px;
        text-transform: uppercase;
        font-size: 1.3rem;
        font-weight: 200;
        color: #828282;
    }
    h2{
        font-weight: 900;
        font: size 2.5rem;
        color: $verde;
        line-height: 2.2rem;
    }
    p{
        padding: 0.7rem 0 1.3rem 0;
        border-bottom: 1px solid $gris-no1;
        margin-bottom: 1.5rem;
        line-height: 1.4rem;
        color: #6b6b6b;
    }
    button#loginbtn {
        width: 70%;
        margin: 0 auto;
        border-radius: 24px;
    }
}