nav#snap-pm{
    background-color:$blanco;
}
#snap-pm-header {
    padding: 1rem 3rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    a {
        color: $amarillo!important;
        padding: 0;
        &.h1 {
            color: $blanco!important;
            font-size: 1.8rem;
            display: block;
            margin: 0;
            margin-top: 0.5rem;
        }
    }
    .snap-pm-user {
        width: 100%;
    }
    #snap-pm-header-quicklinks {
        a {
            text-transform: uppercase;
            &::after {
                content: "";
            }
        }
         :nth-child(2) {
            display: none;
        }
    }
}

section#snap-pm-courses {
    padding: 0 3rem;
    .coursecard {
        border-radius: 8%;
        min-width: 30%;
        .coursecard-body {
            padding: 1em .5em 1em .5em;
            h3 {
                padding: 0.5rem 0.5rem 1rem 0.5rem;
                border-bottom: 1px solid $gris-no1;
                a.coursecard-coursename {
                    color: $negro;
                }
            }
            .coursecard-dynamicinfo {
                padding-top: 0.5rem;
            }
            .completionstatus{
                padding-bottom:0.5em;
            }
            .completion-line{
                background-color:$amarillo;
            }
        }
    }
    .snap-personal-menu-more {
        display: none;
    }
}

@mixin miscursos-sm(){
    section#snap-pm-courses .coursecard{
        min-height: 35vh;
    }
}

@mixin miscursos-xs(){
    #snap-pm-header .pull-right {
        right: 20px;
        position: fixed;
        top: 20px;
    }
    #snap-pm-header .snap-pm-user{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        font-size: 80%;        
        a.h1{
            margin:0;
            font-size: 1.3rem;
        }
        .userpicture{
            margin-bottom: 5px;
            width:55px;
        }
    }
}