//hacer el contenedor de ancho completo
//max-width del contenedor es 60.5em
//max-width del contenido es 43.5em
section#region-main {
    max-width: 100%!important;
    padding: 0;
    margin: 0;
    .course-content{
        max-width:100%!important;
    }
}
//TODO: revisar span notifications hijo de region-main
.course-content ul.topics{
//Fix ancho secciones generales
li.section.main{
    max-width: 43.5em;
    margin: 0 auto;
    .state-visible {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
}
//Secciones que contienen modulos de aprendizaje
li#section-1, li#section-2, li#section-3, li#section-4, li#section-5 {
    
    //contenedor del nombre de sección
    h2.sectionname{
        height: 40vh;
        width: 120%;
        display: flex;
        align-items: center;
        padding-left: 3em;
        background-color: $amarillo;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 3em;
        margin-left:-5em;
        &::before{
            content: "Módulo " counter(annotation-list);
            color: $verde;
            float: left;
            position: relative;
            top: -1em;
            left: 4.25em;
        }
    }

    //contenedor del parrafo de resumen de la sección
    div.summary{
        max-width:43.5em;
    }

    //contenedor de todas las actividades del módulo
    ul.section.img-text{
        max-width:43.5em;
    }

    //contenedor de los botones crear actividad de aprendizaje y arrastre archivos para anexarlos
    div.row{
        max-width:43.5em;
        margin:0 auto;
    }

    //contenedor de los botones de navegación anterior y siguiente
    .section_footer{
        max-width:43.5em;
        margin:1rem auto;
    }
}
}