#page-mod-page-view{
    #region-main{
        .activity-navigation .row .col-md-4:nth-child(3){
            display:none;
        }
    }
    div[role="main"] {
        text-align: center;
        .table {
            font-family: "Roboto Condensed"!important;
            td {
                vertical-align: middle;
            }
            p {
                margin: 0;
            }
            thead td {
                background: $verde;
                font-size: 1.8rem;
                color: $blanco;
            }
            tbody tr td:first-child {
                font-size: 1.4rem;
                text-decoration: dotted;
            }
        }
        ul{
            list-style-type: none;
            padding:0 5%;
            li{
                text-align: left;
                padding: 1rem;
            }
        }
        .modified{
            display:none;
        }
    }
    blockquote.blockquote {
        border: 0;
        min-height: 382px;
        height: 50vh;
        background: url(http://proyectoeducativo.com.co/segurosbolivar/theme/snap/pix/segurosbolivar/mod1-quote.jpg);
        background-size: cover;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 0;
        margin: 0;
        p,
        footer {
            margin: 0!important;
            max-width: 100% !important;
            background: $verde-t80;
            color: white;
            padding: 2rem 10%;
        }
        p {
            font-style: italic;
            text-align: right;
        }
        footer {
            padding: 0 10% 2rem;
            text-align: right;
            font-size: 1.3rem;
            color: $amarillo;
            font-weight: 600;
            .usertour {
                display: none;
            }
        }
    }
}