#page-mod-quiz-view{
    section#region-main{
        padding:0;
    }
    h2{
        font-size: 2rem;
        font-weight: 400;
        min-height: 22vh;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background: #eaeaea;
        margin-bottom: 0rem;
        -webkit-box-shadow: inset 0 0 5px #a1a1a2, inset 0 0 8px #b1b1b1;
        box-shadow: inset 0 0 5px #a1a1a2, inset 0 0 8px #b1b1b1;
    }
    #intro, table.generaltable.quizattemptsummary, h3, div.box{
        padding: 0 10%;
    }
}
#page-mod-quiz-attempt{
    section#region-main{
        padding:0 10%;
    }
    form#responseform {
        line-height: 1.5rem;
        font-size: 80%;
    }

    .que{
        .info{
            margin-bottom:1.5rem;
        }
        .im-controls {
            margin: .5em 0;
            text-align: right;
            margin-right: 20px;
        }
        &.ddmarker div.dragitems span.markertext {
            max-width: 200px;
        }
        &.description{
            border-bottom: none;
            margin-bottom:0;
        }
        &:not(.truefalse) h3.no {
            
            .qno{
                margin-left:3px;
            }
        }        
        .qtext{
            margin-bottom:1.5rem;
        }
        .ddarea{
            display: flex;
        }
        &.truefalse{
            .prompt{
                display:none;
            }
            .answer{
                display: flex;
                justify-content: space-evenly;
                font-size: 1.4rem;
                &>div{
                    padding: 0.5em 1em;
                    border: 1px solid $gris-no2;
                    border-radius: 5px;
                    margin-right: 20px;
                }
            }
        }
    }
}

#page-mod-quiz-review{
    section#region-main {
        padding: 1rem 10%;
    }
    .que p {
        font-size: 19px;
    }

    .responsehistoryheader table * {
        font-size: 19px;
        font-family: 'Roboto COndensed';
    }
    h4.responsehistoryheader {
        text-align: center;
        padding-top: 10px;
    }
}