#page-mod-quiz-view {
    section#region-main {
        padding: 0;
    }
    h2 {
        font-size: 2rem;
        font-weight: 400;
        min-height: 22vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #eaeaea;
        margin-bottom: 0rem;
        margin-top: 2rem;
    }
    #intro,
    table.generaltable.quizattemptsummary,
    h3,
    div.box {
        padding: 0 10%;
        display:block;
    }
}

#page-mod-quiz-attempt {
    section#region-main {
        padding: 0 10%;
    }
    form#responseform {
        line-height: 1.5rem;
        font-size: 80%;
    }
    .que {
        padding: 0.5rem 2%;
        .ablock {
            display: flex;
            justify-content: center;
        }
        .qtext {
            font-size: 1rem;
        }
        .info {
            margin-bottom: 1.5rem;
        }
        .im-controls {
            margin: .5em 0;
            text-align: right;
            margin-right: 20px;
        }
        &.ddmarker div.dragitems span.markertext {
            max-width: 200px;
        }
        &.description {
            border-bottom: none;
            margin-bottom: 0;
        }
        &:not(.truefalse) h3.no {
            .qno {
                margin-left: 3px;
            }
        }
        .qtext {
            margin-bottom: 1.5rem;
        }
        .ddarea {
            display: flex;
            flex-direction: column-reverse;
        }
        &.truefalse {
            .prompt {
                display: none;
            }
            .answer {
                display: flex;
                justify-content: space-evenly;
                font-size: 1rem;
                &>div {
                    padding: 0.5em 1em;
                    border: 1px solid $gris-no2;
                    border-radius: 5px;
                    margin-right: 20px;
                }
            }
        }
    }
    //Hace que la imagen en la que se arrastran los marcadores tome el 100% del ancho
    .que.ddmarker .dropbackground,
    form.mform fieldset#id_previewareaheader .dropbackground {
        border: none!important;
        width: 85%!important;
    }
    table.answer {
        font-family: 'Roboto Condensed';
    }
    .formulation input[type="text"],
    .formulation select {
        width: 100%;
    }
    //quitar navegación dentro del quiz
    .activity-navigation .row .col-md-4:nth-child(3){
        display:none;
    }
}

#page-mod-quiz-review {
    section#region-main {
        padding: 1rem 10%;
    }
    .que p {
        font-size: 19px;
    }
    .responsehistoryheader table * {
        font-size: 19px;
        font-family: 'Roboto COndensed';
    }
    h4.responsehistoryheader {
        text-align: center;
        padding-top: 10px;
    }
}

@mixin quiz-sm() {
    #page-mod-quiz-view h2{
        padding: 5% 10%;
        text-align: center;
    }
    #page-mod-quiz-attempt .que .ddarea {
        flex-wrap: wrap;
        .droparea {
            width: 100%;
        }
    }
}

@mixin quiz-xs() {
    #page-mod-quiz-attempt .que.truefalse .answer>div {
        padding: 0.5em 0.4em;
        margin-right: 5px;
    }
}