    @mixin textos-ruta ($color, $transform) {
        color: $color;
        text-transform: $transform;
    }
    
    #page-header.home-ruta {
        height: 100vh;
        .breadcrumb-nav {
            display: none;
        }
        #page-mast {
            #toc-desktop-menu-heading {
                display: none;
            }
            #toc-search {
                display: none;
            }
            #course-toc {
                display: flex;
                flex-direction: column;
                height: 55vh;
                justify-content: flex-end;
                width: 100%;
                background-color: transparent;
            }
            #chapters {
                display: flex;
                min-width: 100%;
                list-style: none;
                counter-reset: modulo;
                li {
                    flex-basis: 25%;
                    margin-left: .7em;
                    display: flex;
                    flex-direction: column-reverse;
                    counter-increment: modulo;
                    span.completionstatus {
                        @include textos-ruta($blanco, uppercase);
                        &::before {
                            content: 'Modulo' counter(moudulo);
                        }
                    }
                }
                &>:first-child {
                    display: none;
                }
                &>:nth-child(2) {
                    display: none;
                }
                &>:nth-child(n):not(:last-child) {
                    background-color: $verde;
                }
                .chapter-title {
                    line-height: 1.2;
                    color: $amarillo;
                }
            }
            &>h1 {
                @include textos-ruta($negro, lowercase);
                &::before {
                    content: 'Bienvenido al curso';
                    display: block;
                    text-transform: initial;
                }
            }
        }
        .course-content {
            #section-0 {
                .state-visible {
                    display: none;
                }
            }
        }
    }