@import "./mixins";
html #mr-nav {
    z-index: 99;
}

.home-ruta {
    #page-header {
        padding: 0;
        padding-top: 5rem;
        min-height: 105vh;
        @include imagen-background('fondo_avance0', 'svg', 'center', 'cover');
        .breadcrumb-nav {
            display: none;
        }
        #page-mast {
            min-height: 85vh;
            display: flex;
            flex-direction: column;
            padding: 1rem 4% 0 4%;
            &>h1 {
                @include textos-ruta($verde, 1.7rem, $peso: bold);
                margin-bottom: 26px;
                &::before {
                    content: 'Bienvenido al curso';
                    display: block;
                    @include textos-ruta($negro, 1.44rem, initial, bold);
                    line-height: 1.5;
                }
                a {
                    text-decoration: none;
                }
                a,
                a:hover {
                    color: $verde;
                }
            }
            .texto-bienvenida {
                display: block;
                max-width: 530px;
            }
            #course-toc {
                display: flex;
                flex-direction: column;
                height: 80vh;
                justify-content: flex-end;
                width: 92%;
                position: absolute;
                #chapters {
                    display: flex;
                    min-width: 100%;
                    min-height: 150px;
                    justify-content: space-between;
                    li {
                        flex-basis: 25%;
                        margin-left: .7em;
                        padding: 40px;
                        .text {
                            @include textos-ruta($blanco, 1rem);
                            display: flex;
                            flex-wrap: wrap;
                            align-items: center;
                            &::before {
                                width: 48%;
                                display: inline-block;
                                white-space: nowrap;
                                margin-bottom: 3px;
                                flex: 1 0 50%;
                            }
                            &::after {
                                display: block;
                                border-bottom: 1px solid $blanco;
                                width: 100%;
                                content: '';
                                margin: 10px 0 10px 0;
                            }
                            small {
                                font-size: .7rem!important;
                            }
                            .snap-section-complete {
                                display: none;
                            }
                        }
                        &:nth-child(2) {
                            @include posicion-otros-elementos(absolute, 200px, $left: 0);
                            background: url(http://proyectoeducativo.com.co/segurosbolivar/theme/snap/pix/segurosbolivar/boton_metodologia.svg);
                            background-repeat: no-repeat;
                            background-size: contain;
                            background-position: center;
                            a {
                                @include textos-ruta ($negro, 0.77rem, $transform: uppercase, $peso: bold);
                                padding-left: 32px;
                            }
                            a[href="#section-1"]::before {
                                content: '';
                                box-sizing: border-box;
                                display: block;
                                width: 28px;
                                height: 32px;
                                background: url(http://proyectoeducativo.com.co/segurosbolivar/theme/snap/pix/segurosbolivar/iconos/icono_metodologia_32px.png);
                                background-repeat: no-repeat;
                                background-size: 100%;
                                position: absolute;
                                margin-left: -38px;
                                margin-top: -6px;
                            }
                            span.text.completionstatus {
                                display: none!important;
                            }
                        }
                        &:nth-child(n+3):not(:last-child) {
                            background-image: url('data:image/svg+xml, #{$caja-verde}');
                            width: 300px;
                            max-width: 300px;
                            background-repeat: no-repeat;
                            background-position: center;
                            min-height: 170px;
                            right: 5%;
                        }
                        &:nth-child(n+3):not(:last-child):hover,
                        &:nth-child(n+3):not(:last-child).modulo-completado {
                            @extend %resaltado-modulos;
                        }
                        &:last-child {
                            @include posicion-otros-elementos(absolute,
                            1rem,
                            -2.5rem);
                            background: url(http://proyectoeducativo.com.co/segurosbolivar/theme/snap/pix/segurosbolivar/boton_caja_herramientas.svg);
                            background-repeat: no-repeat;
                            background-size: contain;
                            background-position: center;
                            a {
                                @include textos-ruta ($negro,
                                0.77rem,
                                $transform: uppercase, $peso: bold);
                                padding: 10px 20px 10px 50px;
                                width: 58%;
                                margin: 0 auto;
                                &::before {
                                    content: '';
                                    box-sizing: border-box;
                                    display: block;
                                    width: 28px;
                                    height: 32px;
                                    background: url(http://proyectoeducativo.com.co/segurosbolivar/theme/snap/pix/segurosbolivar/iconos/icono_cajaherramientas_32px.svg);
                                    background-repeat: no-repeat;
                                    background-size: 100%;
                                    position: absolute;
                                    margin-left: -32px;
                                    margin-top: 2px;
                                }
                            }
                        }
                    }
                    .chapter-title {
                        @include textos-ruta ($amarillo,
                        inherit,
                        unset);
                        line-height: 1.2;
                        text-decoration: none;
                        &:not(:last-child)::after {
                            content: '>';
                            padding: 2px;
                            font-size: 0.8rem;
                            line-height: 0.8rem;
                            border: 1px solid #eaeaea7a;
                            color: $gris-no1;
                            border-radius: 50%;
                            min-width: 1rem;
                            display: inline-block;
                            text-align: center;
                            margin-left: 4px;
                            animation: pulse 2s infinite;
                        }
                    }
                }
            }
        }
    }
    @for $i from 1 through 4 {
        #page-header.avance-#{$i} {
            @include imagen-background('fondo_avance#{$i}',
            'svg',
            'center',
            'cover');
        }
    }
    .course-content {
        ul.topics {
            display: none;
        }
    }
    #page-header #page-mast #course-toc #chapters li:last-child span.text{
        display:none;
    }
}

@mixin ruta-md() {
    .home-ruta #page-header #page-mast #course-toc {
        height: auto;
        padding: 3em 4%;
        width: 100%;
        position: relative;
        #chapters {
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 1rem;
            li {
                flex-basis: 49%;
                margin: 2px;
                padding: 35px;
                margin-right: 57px;
            }
        }
    }
    .home-ruta #page-header #page-mast #course-toc #chapters li:nth-child(2),
    .home-ruta #page-header #page-mast #course-toc #chapters li:last-child {
        top: -6%;
        margin: 0;
    }
    .home-ruta #page-header #page-mast #course-toc #chapters li:last-child {
        padding: 0 0 0 13px;
        width: 26%;
        top: -5rem;
        a {
            padding: 40px 18px;
            margin-top: -3%;
        }
    }
    /*.home-ruta #page-header #page-mast #course-toc #chapters li:nth-child(3),
    .home-ruta #page-header #page-mast #course-toc #chapters li:nth-child(4) {
        margin-top: 2rem;
    }*/
    .home-ruta #page-header #page-mast .texto-bienvenida {
        background: #ffffffb0;
    }
}

@mixin ruta-sm() {
    .home-ruta #page-header #page-mast {
        height: auto;
        min-height: 85vh;
    }
    .home-ruta #page-header #page-mast #course-toc {
        height: auto;
        min-height: 79vh;
        #chapters {
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 1rem;
            li {
                flex-basis: 49%;
                margin: 2px;
                padding: 35px 5%;
            }
        }
    }
    .home-ruta #page-header #page-mast #course-toc #chapters li:nth-child(2),
    .home-ruta #page-header #page-mast #course-toc #chapters li:last-child {
        top: 5%;
    }
    .home-ruta #page-header #page-mast #course-toc #chapters li:last-child {
        width: 54%;
        max-width: 275px;
        padding: 0 0px 0px 20px;
        max-height: 132px;
    }
    .home-ruta #page-header #page-mast .texto-bienvenida {
        background: #ffffffc7;
    }
}

@mixin ruta-xs() {
    .home-ruta #page-header {
        padding-top: 18vh;
        background: $blanco!important;
        #course-toc {
            padding: 0;
        }
    }
    .home-ruta #page-header #page-mast #course-toc #chapters li {
        padding: 30px 35px;
        flex-basis: 65%;
        min-width: 300px;
        .chapter-title {
            padding: 0;
        }
    }
    .home-ruta #page-header #page-mast #course-toc #chapters li:nth-child(2),
    .home-ruta #page-header #page-mast #course-toc #chapters li:last-child {
        top: 0px;
        position: initial;
    }
    .home-ruta #page-header #page-mast #course-toc #chapters li:nth-child(2) {
        left: 0;
        position: relative;
        text-align: center;
        margin-bottom: 15px;
        a[href="#section-1"]::before {
            margin-left: 10px;
        }
    }
}