#page-header{
    height: 100vh;
    #toc-desktop-menu-heading{
            display: none;
    }
    #chapters{
        &>:first-child{
            display: none;
        }
    }
    h1{
        &::before{
            content:'Bienvenido al curso';
            display: block;
        }

    }
}