//Colores Manual de imagen
$verde: 'rgb(0, 109, 56)';
$verde-tenue:rgb(146, 219, 175);
$amarillo: 'rgb(250, 220, 93)';
$negro: rgb(43, 43, 43);
$gris-oscuro: rgb(104, 104, 104);
$gris-no1:rgb(234, 234, 234);
$gris-no2:rgb(247, 247, 247);
$blanco:rgb(255, 255, 255);