@charset "UTF-8";
.home-ruta #page-header #page-mast #course-toc #chapters li:nth-child(n+3):not(:last-child):hover, .home-ruta #page-header #page-mast #course-toc #chapters li.modulo-completado:nth-child(n+3):not(:last-child) {
  background-image: url("data:image/svg+xml, %3Csvg width='100%' viewBox='0 0 275 145' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='rgb(250, 220, 93)' d='M231.9743097756687,144.4894306236695 L34.23931043837641,144.6099759266518 C21.08000638301136,145.22777060443585 9.808613846952934,137.09096265313266 9.135694889576314,126.46790782782017 L0.032596771731464205,20.127397996914983 C-0.7524753452079281,7.876981581341759 12.761980382105904,-1.796778982985419 27.753119376996203,0.28262749345875804 L254.3301729151808,14.310176296329782 C267.3960160042436,16.118355841063835 276.1065780636188,26.198956802956186 273.6579007464983,36.71653448815924 L253.9376368567112,128.9089502132111 C251.9375721778418,137.54300753931622 242.87185844651788,143.9771130859949 231.9743097756687,144.4894306236695Z'%3E%3C/path%3E%3C/svg%3E") !important;
}

.home-ruta #page-header #page-mast #course-toc #chapters li:nth-child(n+3):not(:last-child):hover .chapter-title, .home-ruta #page-header #page-mast #course-toc #chapters li.modulo-completado:nth-child(n+3):not(:last-child) .chapter-title {
  color: #006d38;
}

.home-ruta #page-header #page-mast #course-toc #chapters li:nth-child(n+3):not(:last-child):hover .text, .home-ruta #page-header #page-mast #course-toc #chapters li.modulo-completado:nth-child(n+3):not(:last-child) .text {
  color: #2b2b2b;
}

#page-login-index header#mr-nav {
  display: none;
}

#page-login-index #maincontent {
  height: 0;
  display: none;
}

#page-login-index main#moodle-page {
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(1, 108, 56, 0.7)), to(rgba(1, 108, 56, 0.7))), url(http://jkvela.website/theme/snap/pix/segurosbolivar/bg1.jpg);
  background: linear-gradient(rgba(1, 108, 56, 0.7), rgba(1, 108, 56, 0.7)), url(http://jkvela.website/theme/snap/pix/segurosbolivar/bg1.jpg);
  background-size: cover;
  background-position-x: center;
}

#page-login-index main#moodle-page div#page-header {
  display: none;
}

#page-login-index main#moodle-page section#region-main {
  background-color: white;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 !important;
  overflow: hidden;
  padding: 0;
  min-height: 100vh;
}

#page-login-index main#moodle-page section#region-main div[role="main"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  min-height: 100vh;
}

#page-login-index main#moodle-page section#region-main div[role="main"] .alert.alertdanger {
  color: #2b2b2b !important;
  background-color: #eaeaea !important;
  border-color: #fadc5d !important;
}

#page-login-index main#moodle-page section#region-main div[role="main"] .snap-login {
  padding: 0 9%;
}

#page-login-index main#moodle-page section#region-main .login-guest {
  display: none;
}

#page-login-index .snap-login,
#page-login-signup .snap-login {
  background-color: rgba(255, 255, 255, 0) !important;
}

#page-login-index section#region-main div[role="main"] .snap-login {
  padding: 2em 9%;
  margin-top: unset;
  margin-bottom: 2rem;
}

#page-login-index section#region-main div[role="main"] .snap-login h4 {
  margin-bottom: 0px;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 2;
  font-weight: 200;
  color: #828282;
}

#page-login-index section#region-main div[role="main"] .snap-login h2 {
  font-weight: 900;
  font-size: 2.2rem;
  color: #006d38;
  line-height: 2.2rem;
}

#page-login-index section#region-main div[role="main"] .snap-login p {
  padding: 0.7rem 0 1.3rem 0;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 1.5rem;
  line-height: 1.4;
  color: #6b6b6b;
}

#page-login-index section#region-main div[role="main"] .snap-login button#loginbtn {
  width: 70%;
  margin: 0 auto;
  border-radius: 24px;
}

header#mr-nav a#snap-home {
  display: none;
}

header#mr-nav::before {
  content: "";
  background-image: url(http://jkvela.website/theme/snap/pix/segurosbolivar/logo_segurosbolivar_blanco.png);
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 216px;
  min-height: 45px;
}

#moodle-footer {
  margin: 0;
  padding: 0;
}

#moodle-footer > div:not(#snap-site-footer) {
  display: none !important;
}

#moodle-footer ul {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

#moodle-footer #snap-footer-content {
  padding: 1em;
}

#moodle-footer #snap-site-footer #snap-footer-content .footer-linksalternos.footer-redes.grid-container {
  display: -ms-grid;
  display: grid;
  grid: 1fr 1fr / 20% 1fr;
  width: 70%;
  max-width: 960px;
  margin: 0 auto;
  font-size: 12px;
}

#moodle-footer #snap-site-footer #snap-footer-content .footer-linksalternos.footer-redes.grid-container .redes {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: inherit;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

#moodle-footer #snap-site-footer #snap-footer-content .footer-linksalternos.footer-redes.grid-container .terminosycondiciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#moodle-footer #snap-site-footer #snap-footer-content .footer-linksalternos.footer-redes.grid-container .terminosycondiciones li {
  margin-right: 12px;
  font-size: inherit;
}

#moodle-footer #snap-site-footer #snap-footer-content .footer-linksalternos.footer-redes.grid-container .footer-linksalternos.copyright {
  -ms-grid-column: 2;
      grid-column-start: 2;
}

.activity-navigation .pull-right {
  float: right;
  margin-left: .3em;
  border-left: 1px solid #dee2e6;
}

.activity-navigation .pull-left {
  float: left;
  margin-right: .3em;
  border-right: 1px solid #dee2e6;
}

.activity-navigation .activity-navigation .col-md-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav#snap-pm {
  background-color: white;
}

#snap-pm-header {
  padding: 1rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#snap-pm-header a {
  color: #fadc5d !important;
  padding: 0;
}

#snap-pm-header a.h1 {
  color: white !important;
  font-size: 1.4rem;
  display: block;
  margin: 0;
  margin-top: 0.5rem;
}

#snap-pm-header .snap-pm-user {
  width: 100%;
}

#snap-pm-header .snap-pm-user .userpicture {
  width: 3.7rem;
}

#snap-pm-header #snap-pm-header-quicklinks a {
  color: inherit;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
}

#snap-pm-header #snap-pm-header-quicklinks a::after {
  content: "";
}

#snap-pm-header #snap-pm-header-quicklinks :nth-child(2) {
  display: none;
}

section#snap-pm-courses {
  padding: 0 3rem;
}

section#snap-pm-courses .coursecard {
  min-width: 30%;
}

section#snap-pm-courses .coursecard .coursecard-body {
  padding: 1em .5em 1em .5em;
}

section#snap-pm-courses .coursecard .coursecard-body h3 {
  padding: 0.5rem 0.5rem 1rem 0.5rem;
  border-bottom: 1px solid #eaeaea;
}

section#snap-pm-courses .coursecard .coursecard-body h3 a.coursecard-coursename {
  color: #2b2b2b;
}

section#snap-pm-courses .coursecard .coursecard-body .coursecard-dynamicinfo {
  padding-top: 0.5rem;
}

section#snap-pm-courses .coursecard .coursecard-body .completionstatus {
  padding-bottom: 0.5em;
}

section#snap-pm-courses .coursecard .coursecard-body .completion-line {
  background-color: #fadc5d;
}

section#snap-pm-courses .snap-personal-menu-more {
  display: none;
}

.home-ruta #page-header #page-mast #course-toc #chapters li:nth-child(n+3):not(:last-child):hover, .home-ruta #page-header #page-mast #course-toc #chapters li.modulo-completado:nth-child(n+3):not(:last-child) {
  background-image: url("data:image/svg+xml, %3Csvg width='100%' viewBox='0 0 275 145' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='rgb(250, 220, 93)' d='M231.9743097756687,144.4894306236695 L34.23931043837641,144.6099759266518 C21.08000638301136,145.22777060443585 9.808613846952934,137.09096265313266 9.135694889576314,126.46790782782017 L0.032596771731464205,20.127397996914983 C-0.7524753452079281,7.876981581341759 12.761980382105904,-1.796778982985419 27.753119376996203,0.28262749345875804 L254.3301729151808,14.310176296329782 C267.3960160042436,16.118355841063835 276.1065780636188,26.198956802956186 273.6579007464983,36.71653448815924 L253.9376368567112,128.9089502132111 C251.9375721778418,137.54300753931622 242.87185844651788,143.9771130859949 231.9743097756687,144.4894306236695Z'%3E%3C/path%3E%3C/svg%3E") !important;
}

.home-ruta #page-header #page-mast #course-toc #chapters li:nth-child(n+3):not(:last-child):hover .chapter-title, .home-ruta #page-header #page-mast #course-toc #chapters li.modulo-completado:nth-child(n+3):not(:last-child) .chapter-title {
  color: #006d38;
}

.home-ruta #page-header #page-mast #course-toc #chapters li:nth-child(n+3):not(:last-child):hover .text, .home-ruta #page-header #page-mast #course-toc #chapters li.modulo-completado:nth-child(n+3):not(:last-child) .text {
  color: #2b2b2b;
}

body#page-course-view-topics section#region-main {
  max-width: 100% !important;
  padding: 0;
  margin: 0;
}

body#page-course-view-topics section#region-main .course-content {
  max-width: 100% !important;
}

body#page-course-view-topics section#region-main span.instancename {
  font-size: 2rem;
  line-height: 1.5rem;
}

#page-header .breadcrumb-nav {
  display: block;
}

#page-header #page-mast h1::before,
#page-header #page-mast h1 a,
#page-header #page-mast h1 a:hover {
  text-shadow: none;
}

#page-header #page-mast #course-toc {
  background-color: transparent;
  display: none;
}

#page-header #page-mast #toc-desktop-menu-heading {
  display: none;
}

#page-header #page-mast #toc-search {
  display: none;
}

#page-header #page-mast #chapters {
  list-style: none;
  counter-reset: modulo -1;
}

#page-header #page-mast #chapters li {
  border: none;
  counter-increment: modulo;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#page-header #page-mast #chapters li:first-child {
  display: none;
}

#page-header #page-mast #chapters li .text {
  color: #fadc5d;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: normal;
}

#page-header #page-mast #chapters li .text::before {
  content: "Módulo " counter(modulo);
}

#page-header #page-mast #chapters .toc-footer {
  margin-top: 30px;
  margin-bottom: 15px;
}

#page-header #page-mast .texto-bienvenida {
  display: none;
}

#page-course-view-topics #page-header #page-mast {
  padding: 0;
  margin: 0;
}

#page-course-view-topics #page-header #page-mast #course-toc {
  display: block;
  padding: 0;
  padding-bottom: 1rem;
}

.por-defecto #page-header .breadcrumb-nav {
  visibility: hidden;
}

.por-defecto #page-header #page-mast {
  display: block;
  margin: 0 auto;
  max-width: 43.5em;
}

.por-defecto #page-header #page-mast > h1 {
  color: white;
  text-transform: uppercase;
  font-size: 0.88rem;
  font-weight: normal;
}

.por-defecto #page-header #page-mast .snap-coverimagecontrol {
  display: none;
}

.por-defecto #page-header #page-mast #course-toc #chapters {
  -webkit-column-count: 1;
          column-count: 1;
}

.por-defecto #page-header #page-mast #course-toc #chapters ol {
  padding-top: 300px;
}

.por-defecto #page-header #page-mast #course-toc #chapters li {
  visibility: hidden;
  height: 0px;
  margin-left: 0;
}

.por-defecto #page-header #page-mast #course-toc #chapters li.snap-visible-section {
  visibility: visible;
}

.por-defecto #page-header #page-mast #course-toc #chapters li .chapter-title {
  color: white;
  text-transform: uppercase;
  font-size: 1.77rem;
  font-weight: bold;
  line-height: 1.3;
}

.por-defecto #page-header #page-mast #course-toc #chapters li .text {
  color: #fadc5d;
  text-transform: uppercase;
  font-size: 1.44rem;
  font-weight: normal;
  line-height: 1.4rem;
  padding-top: 0.5rem;
}

.por-defecto #page-header #page-mast #course-toc #chapters li .text small {
  display: block;
}

.por-defecto #page-header #page-mast #course-toc #chapters .toc-footer {
  margin-top: 30px;
  margin-bottom: 15px;
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 65.25%;
  height: 0;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  margin: 5%;
  margin-top: 3%;
  max-width: 90%;
  width: 100%;
  height: 90%;
}

.course-content ul.topics li.section.main {
  max-width: 43.5em;
  margin: 0 auto !important;
}

.course-content ul.topics li.section.main.state-visible:not(#section-1), .course-content ul.topics li.section.main.state-visible:not(#section-2), .course-content ul.topics li.section.main.state-visible:not(#section-3), .course-content ul.topics li.section.main.state-visible:not(#section-4), .course-content ul.topics li.section.main.state-visible:not(#section-5) {
  margin-top: 2rem !important;
  margin-bottom: 1rem !important;
}

.course-content ul.topics li#section-1,
.course-content ul.topics li#section-2,
.course-content ul.topics li#section-3,
.course-content ul.topics li#section-4,
.course-content ul.topics li#section-5 {
  max-width: 100% !important;
  overflow: hidden;
}

.course-content ul.topics li#section-1.snap-native,
.course-content ul.topics li#section-2.snap-native,
.course-content ul.topics li#section-3.snap-native,
.course-content ul.topics li#section-4.snap-native,
.course-content ul.topics li#section-5.snap-native {
  margin: 0;
}

.course-content ul.topics li#section-1 h2.sectionname,
.course-content ul.topics li#section-2 h2.sectionname,
.course-content ul.topics li#section-3 h2.sectionname,
.course-content ul.topics li#section-4 h2.sectionname,
.course-content ul.topics li#section-5 h2.sectionname {
  height: 40vh;
  width: 140%;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 25%;
  background-color: #fadc5d;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(http://jkvela.website/theme/snap/pix/segurosbolivar/mod1-cabecera.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(http://jkvela.website/theme/snap/pix/segurosbolivar/mod1-cabecera.jpg);
  background-size: cover;
  background-position: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 3em;
  margin-left: -5em;
  color: white;
}

.course-content ul.topics li#section-1 h2.sectionname::before,
.course-content ul.topics li#section-2 h2.sectionname::before,
.course-content ul.topics li#section-3 h2.sectionname::before,
.course-content ul.topics li#section-4 h2.sectionname::before,
.course-content ul.topics li#section-5 h2.sectionname::before {
  content: "Módulo " counter(annotation-list);
  color: #fadc5d;
  float: left;
  position: relative;
  top: -1.3em;
  font-size: 2rem;
  left: 4.25em;
  white-space: nowrap;
}

.course-content ul.topics li#section-1 div.summary p,
.course-content ul.topics li#section-2 div.summary p,
.course-content ul.topics li#section-3 div.summary p,
.course-content ul.topics li#section-4 div.summary p,
.course-content ul.topics li#section-5 div.summary p {
  max-width: 43.5em;
  margin: 0 auto;
}

.course-content ul.topics li#section-1 ul.section.img-text,
.course-content ul.topics li#section-2 ul.section.img-text,
.course-content ul.topics li#section-3 ul.section.img-text,
.course-content ul.topics li#section-4 ul.section.img-text,
.course-content ul.topics li#section-5 ul.section.img-text {
  background: white;
  counter-reset: actividadNo;
}

.course-content ul.topics li#section-1 ul.section.img-text li .asset-wrapper,
.course-content ul.topics li#section-2 ul.section.img-text li .asset-wrapper,
.course-content ul.topics li#section-3 ul.section.img-text li .asset-wrapper,
.course-content ul.topics li#section-4 ul.section.img-text li .asset-wrapper,
.course-content ul.topics li#section-5 ul.section.img-text li .asset-wrapper {
  overflow: hidden;
}

.course-content ul.topics li#section-1 div.row,
.course-content ul.topics li#section-2 div.row,
.course-content ul.topics li#section-3 div.row,
.course-content ul.topics li#section-4 div.row,
.course-content ul.topics li#section-5 div.row {
  max-width: 43.5em;
  margin: 0 auto;
}

.course-content ul.topics li#section-1 .section_footer,
.course-content ul.topics li#section-2 .section_footer,
.course-content ul.topics li#section-3 .section_footer,
.course-content ul.topics li#section-4 .section_footer,
.course-content ul.topics li#section-5 .section_footer {
  max-width: 100%;
  margin: 1rem auto;
  padding: 0 10%;
}

.course-content ul.topics li#section-1 .label,
.course-content ul.topics li#section-2 .label,
.course-content ul.topics li#section-3 .label,
.course-content ul.topics li#section-4 .label,
.course-content ul.topics li#section-5 .label {
  margin: 0;
  padding: 0;
}

.course-content ul.topics li#section-1 .label .asset-wrapper,
.course-content ul.topics li#section-2 .label .asset-wrapper,
.course-content ul.topics li#section-3 .label .asset-wrapper,
.course-content ul.topics li#section-4 .label .asset-wrapper,
.course-content ul.topics li#section-5 .label .asset-wrapper {
  overflow: hidden;
}

.course-content ul.topics li#section-1 .label .separador-amarillo,
.course-content ul.topics li#section-2 .label .separador-amarillo,
.course-content ul.topics li#section-3 .label .separador-amarillo,
.course-content ul.topics li#section-4 .label .separador-amarillo,
.course-content ul.topics li#section-5 .label .separador-amarillo {
  min-height: 270px;
  height: 27vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(250, 220, 93, 0.5)), to(rgba(250, 220, 93, 0.5))), url(http://jkvela.website/theme/snap/pix/segurosbolivar/mod1-separador.jpg);
  background-image: linear-gradient(rgba(250, 220, 93, 0.5), rgba(250, 220, 93, 0.5)), url(http://jkvela.website/theme/snap/pix/segurosbolivar/mod1-separador.jpg);
  background-size: cover;
  background-position: center;
}

.course-content ul.topics blockquote.blockquote {
  border: 0;
  min-height: 650px;
  height: 70vh;
  background: url(http://jkvela.website/theme/snap/pix/segurosbolivar/mod1-quote.jpg);
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0;
  margin: 0;
}

.course-content ul.topics blockquote.blockquote p,
.course-content ul.topics blockquote.blockquote footer {
  margin: 0 !important;
  max-width: 100% !important;
  background: #006d38;
  color: white;
  padding: 2rem 10%;
}

.course-content ul.topics blockquote.blockquote p {
  font-style: italic;
}

.course-content ul.topics blockquote.blockquote footer {
  padding: 0 18% 2rem;
  text-align: right;
  font-size: 1.3rem;
  color: #fadc5d;
  font-weight: 600;
  margin-top: -1px !important;
}

.course-content ul.topics blockquote.blockquote footer .usertour {
  display: none;
}

.course-content ul.topics ul.section.img-text li.snap-activity {
  border: 0;
  margin: 0;
  min-height: 370px;
  height: auto;
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.course-content ul.topics ul.section.img-text li.snap-activity.snap-can-edit {
  overflow: visible;
}

.course-content ul.topics ul.section.img-text li.snap-activity .asset-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  margin: 0;
  padding: 0;
  height: auto;
}

.course-content ul.topics ul.section.img-text li.snap-activity .asset-wrapper .activityinstance {
  background-color: transparent;
  width: 100%;
  position: relative;
  height: auto;
  min-height: 100%;
}

.course-content ul.topics ul.section.img-text li.snap-activity .asset-wrapper .activityinstance .snap-assettype {
  display: none;
}

.course-content ul.topics ul.section.img-text li.snap-activity .asset-wrapper .activityinstance .snap-asset-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  min-height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  text-align: right;
  padding-left: 6%;
}

.course-content ul.topics ul.section.img-text li.snap-activity .asset-wrapper .activityinstance .snap-asset-content .contentafterlink {
  margin-left: 0px;
}

.course-content ul.topics ul.section.img-text li.snap-activity .asset-wrapper .activityinstance .snap-asset-content h3 img {
  display: none;
}

.course-content ul.topics ul.section.img-text li.snap-activity .asset-wrapper .activityinstance .snap-asset-completion-tracking {
  position: relative;
  top: 15%;
  left: 5%;
  line-height: 0;
  width: 10%;
}

.course-content ul.topics ul.section.img-text li.snap-activity:nth-child(odd) {
  background-color: #f7f7f7;
}

.course-content ul.topics ul.section.img-text li.snap-activity:nth-child(odd) .activityinstance .snap-asset-content {
  padding-left: 15%;
  padding-right: 6%;
}

.course-content ul.topics ul.section.img-text li.snap-activity:nth-child(odd)::before {
  counter-increment: actividadNo;
  content: "0" counter(actividadNo);
  color: #eaeaea;
  position: absolute;
  top: -60px;
  font-size: 500px;
  line-height: 19rem;
  letter-spacing: -40px;
  right: 4%;
  font-family: 'Roboto Condensed';
  font-weight: 900;
  z-index: 0;
}

.course-content ul.topics ul.section.img-text li.snap-activity:nth-child(even) {
  background-color: #eaeaea;
}

.course-content ul.topics ul.section.img-text li.snap-activity:nth-child(even) .activityinstance .snap-asset-content {
  margin-left: auto;
  text-align: left;
  padding-right: 15%;
  padding-left: 6%;
}

.course-content ul.topics ul.section.img-text li.snap-activity:nth-child(even)::before {
  counter-increment: actividadNo;
  content: "0" counter(actividadNo);
  color: #f7f7f7;
  position: absolute;
  bottom: -60px;
  font-size: 500px;
  letter-spacing: -40px;
  line-height: 19rem;
  left: 3%;
  font-family: 'Roboto Condensed';
  font-weight: 900;
  z-index: 0;
}

.section .activity.modtype_label.label .asset-wrapper,
.section .activity.modtype_label.label .activityinstance {
  padding: 0 !important;
}

.contenedor-objetivos {
  width: 70%;
  margin: 0 auto;
  min-width: 980px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 1rem;
}

.contenedor-objetivos #objetivo-modulo {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4.5rem 5rem 7.5rem 6.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(http://jkvela.website/theme/snap/pix/segurosbolivar/globo_objetivos.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.contenedor-objetivos #objetivo-modulo h4 {
  font-weight: 600;
  color: #006d38;
}

.contenedor-objetivos #complemento-objetivos {
  background-image: url(http://jkvela.website/theme/snap/pix/segurosbolivar/caja_objetivos.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 0rem 0rem 0rem;
}

.contenedor-objetivos #complemento-objetivos .bloque {
  width: 45%;
}

.contenedor-objetivos #complemento-objetivos .bloque h5 {
  font-weight: 600;
  margin: 0;
}

h3#final-descripcion {
  text-align: center;
  font-weight: 700;
  font-style: italic;
  width: 40%;
  margin: 2rem auto;
  padding-bottom: 1rem;
  border-bottom: 3px solid #fadc5d;
}

ul.section.img-text .page .asset-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5rem 4rem;
  text-align: center;
}

ul.section.img-text .page .asset-wrapper .contentafterlink.conditionalhidden {
  max-width: 48.5em;
}

ul.section.img-text .page .asset-wrapper span.instancename {
  color: black;
  font-weight: 900;
}

ul.section.img-text .page .asset-wrapper .summary-text p {
  max-width: 43.5em;
}

ul.section.img-text .page .asset-wrapper a.btn.btn-secondary.pagemod-readmore {
  background-image: url(http://jkvela.website/theme/snap/pix/segurosbolivar/boton_resumen.svg);
  overflow: visible;
  background-size: contain;
  background-position: center;
  padding: 3rem;
  background-repeat: no-repeat;
  border: 0;
}

ul.section.img-text .page .asset-wrapper a.btn.btn-secondary.pagemod-readmore:hover:not(:disabled) {
  background-color: transparent !important;
  border-color: transparent !important;
  color: #006d38;
  outline: 0px auto gray;
}

ul.section.img-text .page .asset-wrapper .contentafterlink .table {
  font-family: "Roboto Condensed" !important;
}

ul.section.img-text .page .asset-wrapper .contentafterlink .table td {
  vertical-align: middle;
}

ul.section.img-text .page .asset-wrapper .contentafterlink .table p {
  margin: 0;
}

ul.section.img-text .page .asset-wrapper .contentafterlink .table thead td {
  background: #006d38;
  font-size: 1.8rem;
  color: white;
}

ul.section.img-text .page .asset-wrapper .contentafterlink .table tbody tr td:first-child {
  font-size: 1.4rem;
  -webkit-text-decoration: dotted;
          text-decoration: dotted;
}

ul.section.img-text .page .asset-wrapper .contentafterlink .d-block {
  padding-left: 0 !important;
}

#page-mod-page-view div[role="main"] {
  text-align: center;
}

#page-mod-page-view div[role="main"] .table {
  font-family: "Roboto Condensed" !important;
}

#page-mod-page-view div[role="main"] .table td {
  vertical-align: middle;
}

#page-mod-page-view div[role="main"] .table p {
  margin: 0;
}

#page-mod-page-view div[role="main"] .table thead td {
  background: #006d38;
  font-size: 1.8rem;
  color: white;
}

#page-mod-page-view div[role="main"] .table tbody tr td:first-child {
  font-size: 1.4rem;
  -webkit-text-decoration: dotted;
          text-decoration: dotted;
}

.separador-opciones {
  min-height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #006d38;
  color: white;
  padding: 4rem 11%;
  font-size: 80%;
}

.separador-opciones .opcion {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  padding-left: 100px;
}

.separador-opciones .opcion h3 a {
  text-align: left;
  color: white !important;
  text-transform: uppercase;
  white-space: nowrap;
}

.separador-opciones .opcion h3 a:visited {
  color: white;
  text-decoration: none;
}

.separador-opciones .opcion p {
  text-align: left;
}

.separador-opciones .opcion::before {
  content: "";
  display: inline-block;
  height: 110px;
  width: 90px;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  margin-left: -90px;
}

.separador-opciones .opcion.glosario::before {
  background-image: url(http://jkvela.website/theme/snap/pix/segurosbolivar/icono_glosario.png);
}

.separador-opciones .opcion.cartilla::before {
  background-image: url(http://jkvela.website/theme/snap/pix/segurosbolivar/icono_cartilla.png);
}

.separador-opciones .opcion.bibliografia::before {
  background-image: url(http://jkvela.website/theme/snap/pix/segurosbolivar/icono_bibliografia.png);
  margin-left: -110px;
  width: 110px;
}

section#region-main {
  padding: 0;
}

#page-mod-lesson-view div[role="main"] {
  text-align: center;
  font-family: "Roboto Condensed" !important;
}

#page-mod-lesson-view div[role="main"] h2 {
  min-height: 22vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #eaeaea;
  margin-bottom: 2rem;
  -webkit-box-shadow: inset 0 0 5px #a1a1a2, inset 0 0 8px #b1b1b1;
          box-shadow: inset 0 0 5px #a1a1a2, inset 0 0 8px #b1b1b1;
}

#page-mod-lesson-view div[role="main"] h3:first-child {
  display: none !important;
}

#page-mod-lesson-view div[role="main"] h3:not(#final-descripcion) {
  font-weight: 600;
  margin-top: 2rem;
  padding: 0 10%;
}

#page-mod-lesson-view div[role="main"] h3:not(#final-descripcion) b {
  color: #006d38;
}

#page-mod-lesson-view div[role="main"] p {
  padding: 2rem 10%;
}

#page-mod-lesson-view div[role="main"] .contenedor-imagenes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#page-mod-lesson-view div[role="main"] .contenedor-imagenes img {
  width: 30%;
}

#page-mod-lesson-view div[role="main"] .bloque-verde-derecha {
  height: 60vh;
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-image: url(http://jkvela.website/theme/snap/pix/segurosbolivar/bg-lesson2_1.jpg);
  background-size: cover;
  background-position: center;
}

#page-mod-lesson-view div[role="main"] .bloque-verde-derecha p {
  background: #016c38d9;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  color: white;
  height: 100%;
}

#page-mod-lesson-view div[role="main"] .bloque-verde-izquierda {
  height: 60vh;
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-image: url(http://jkvela.website/theme/snap/pix/segurosbolivar/bg-lesson2_2.jpg);
  background-size: cover;
  background-position: center;
}

#page-mod-lesson-view div[role="main"] .bloque-verde-izquierda p {
  background: #016c38d9;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
  color: white;
  height: 100%;
}

#page-mod-quiz-view section#region-main {
  padding: 0;
}

#page-mod-quiz-view h2 {
  font-size: 2rem;
  font-weight: 400;
  min-height: 22vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #eaeaea;
  margin-bottom: 0rem;
  -webkit-box-shadow: inset 0 0 5px #a1a1a2, inset 0 0 8px #b1b1b1;
  box-shadow: inset 0 0 5px #a1a1a2, inset 0 0 8px #b1b1b1;
}

#page-mod-quiz-view #intro, #page-mod-quiz-view table.generaltable.quizattemptsummary, #page-mod-quiz-view h3, #page-mod-quiz-view div.box {
  padding: 0 10%;
}

#page-mod-quiz-attempt section#region-main {
  padding: 0 10%;
}

#page-mod-quiz-attempt form#responseform {
  line-height: 1.5rem;
  font-size: 80%;
}

#page-mod-quiz-attempt .que {
  padding: 0.5rem 2%;
}

#page-mod-quiz-attempt .que .ablock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#page-mod-quiz-attempt .que .qtext {
  font-size: 1.1rem;
}

#page-mod-quiz-attempt .que .info {
  margin-bottom: 1.5rem;
}

#page-mod-quiz-attempt .que .im-controls {
  margin: .5em 0;
  text-align: right;
  margin-right: 20px;
}

#page-mod-quiz-attempt .que.ddmarker div.dragitems span.markertext {
  max-width: 200px;
}

#page-mod-quiz-attempt .que.description {
  border-bottom: none;
  margin-bottom: 0;
}

#page-mod-quiz-attempt .que:not(.truefalse) h3.no .qno {
  margin-left: 3px;
}

#page-mod-quiz-attempt .que .qtext {
  margin-bottom: 1.5rem;
}

#page-mod-quiz-attempt .que .ddarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#page-mod-quiz-attempt .que.truefalse .prompt {
  display: none;
}

#page-mod-quiz-attempt .que.truefalse .answer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 1rem;
}

#page-mod-quiz-attempt .que.truefalse .answer > div {
  padding: 0.5em 1em;
  border: 1px solid #f7f7f7;
  border-radius: 5px;
  margin-right: 20px;
}

#page-mod-quiz-attempt table.answer {
  font-family: 'Roboto Condensed';
}

#page-mod-quiz-attempt .formulation input[type="text"], #page-mod-quiz-attempt .formulation select {
  width: 100%;
}

#page-mod-quiz-review section#region-main {
  padding: 1rem 10%;
}

#page-mod-quiz-review .que p {
  font-size: 19px;
}

#page-mod-quiz-review .responsehistoryheader table * {
  font-size: 19px;
  font-family: 'Roboto COndensed';
}

#page-mod-quiz-review h4.responsehistoryheader {
  text-align: center;
  padding-top: 10px;
}

.home-ruta #page-header #page-mast #course-toc #chapters li:nth-child(n+3):not(:last-child):hover, .home-ruta #page-header #page-mast #course-toc #chapters li.modulo-completado:nth-child(n+3):not(:last-child) {
  background-image: url("data:image/svg+xml, %3Csvg width='100%' viewBox='0 0 275 145' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='rgb(250, 220, 93)' d='M231.9743097756687,144.4894306236695 L34.23931043837641,144.6099759266518 C21.08000638301136,145.22777060443585 9.808613846952934,137.09096265313266 9.135694889576314,126.46790782782017 L0.032596771731464205,20.127397996914983 C-0.7524753452079281,7.876981581341759 12.761980382105904,-1.796778982985419 27.753119376996203,0.28262749345875804 L254.3301729151808,14.310176296329782 C267.3960160042436,16.118355841063835 276.1065780636188,26.198956802956186 273.6579007464983,36.71653448815924 L253.9376368567112,128.9089502132111 C251.9375721778418,137.54300753931622 242.87185844651788,143.9771130859949 231.9743097756687,144.4894306236695Z'%3E%3C/path%3E%3C/svg%3E") !important;
}

.home-ruta #page-header #page-mast #course-toc #chapters li:nth-child(n+3):not(:last-child):hover .chapter-title, .home-ruta #page-header #page-mast #course-toc #chapters li.modulo-completado:nth-child(n+3):not(:last-child) .chapter-title {
  color: #006d38;
}

.home-ruta #page-header #page-mast #course-toc #chapters li:nth-child(n+3):not(:last-child):hover .text, .home-ruta #page-header #page-mast #course-toc #chapters li.modulo-completado:nth-child(n+3):not(:last-child) .text {
  color: #2b2b2b;
}

html #mr-nav {
  z-index: 99;
}

.home-ruta #page-header {
  padding-top: 5rem;
  min-height: 105vh;
  background-image: url(http://jkvela.website/theme/snap/pix/segurosbolivar/fondo_avance0.svg);
  background-size: 100% 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.home-ruta #page-header .breadcrumb-nav {
  display: none;
}

.home-ruta #page-header #page-mast {
  height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 2rem 0 2rem;
}

.home-ruta #page-header #page-mast > h1 {
  color: #006d38;
  text-transform: uppercase;
  font-size: 1.77rem;
  font-weight: bold;
}

.home-ruta #page-header #page-mast > h1::before {
  content: 'Bienvenido al curso';
  display: block;
  color: #2b2b2b;
  text-transform: initial;
  font-size: 1.44rem;
  font-weight: bold;
}

.home-ruta #page-header #page-mast > h1 a {
  text-decoration: none;
}

.home-ruta #page-header #page-mast > h1 a,
.home-ruta #page-header #page-mast > h1 a:hover {
  color: #006d38;
}

.home-ruta #page-header #page-mast .texto-bienvenida {
  display: block;
  max-width: 530px;
}

.home-ruta #page-header #page-mast #course-toc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 56vh;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  margin-top: auto;
}

.home-ruta #page-header #page-mast #course-toc #chapters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 100%;
  min-height: 150px;
}

.home-ruta #page-header #page-mast #course-toc #chapters li {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  margin-left: .7em;
  padding: 35px 40px;
}

.home-ruta #page-header #page-mast #course-toc #chapters li .text {
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-ruta #page-header #page-mast #course-toc #chapters li .text::before {
  width: 48%;
  display: inline-block;
  white-space: nowrap;
  margin-bottom: 3px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
}

.home-ruta #page-header #page-mast #course-toc #chapters li .text::after {
  display: block;
  border-bottom: 1px solid white;
  width: 100%;
  content: '';
  margin: 10px 0 10px 0;
}

.home-ruta #page-header #page-mast #course-toc #chapters li .text small {
  font-size: 0.7rem !important;
}

.home-ruta #page-header #page-mast #course-toc #chapters li .text .snap-section-complete {
  display: none;
}

.home-ruta #page-header #page-mast #course-toc #chapters li:nth-child(2) {
  position: absolute;
  top: 0;
  right: unset;
  background: url(http://jkvela.website/theme/snap/pix/segurosbolivar/boton_metodologia.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  left: 5%;
}

.home-ruta #page-header #page-mast #course-toc #chapters li:nth-child(2) a {
  color: #2b2b2b;
  padding-left: 32px;
}

.home-ruta #page-header #page-mast #course-toc #chapters li:nth-child(2) a[href="#section-1"]::before {
  content: '';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 28px;
  height: 32px;
  background: url(http://jkvela.website/theme/snap/pix/segurosbolivar/iconos/icono_metodologia_32px.png);
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  margin-left: -38px;
  margin-top: -6px;
}

.home-ruta #page-header #page-mast #course-toc #chapters li:nth-child(n+3):not(:last-child) {
  background-image: url("data:image/svg+xml, %3Csvg width='100%' viewBox='0 0 275 145' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='rgb(0, 109, 56)' d='M231.9743097756687,144.4894306236695 L34.23931043837641,144.6099759266518 C21.08000638301136,145.22777060443585 9.808613846952934,137.09096265313266 9.135694889576314,126.46790782782017 L0.032596771731464205,20.127397996914983 C-0.7524753452079281,7.876981581341759 12.761980382105904,-1.796778982985419 27.753119376996203,0.28262749345875804 L254.3301729151808,14.310176296329782 C267.3960160042436,16.118355841063835 276.1065780636188,26.198956802956186 273.6579007464983,36.71653448815924 L253.9376368567112,128.9089502132111 C251.9375721778418,137.54300753931622 242.87185844651788,143.9771130859949 231.9743097756687,144.4894306236695Z'%3E%3C/path%3E%3C/svg%3E");
  width: 300px;
  max-width: 300px;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 170px;
  right: 5%;
}

.home-ruta #page-header #page-mast #course-toc #chapters li:last-child {
  position: absolute;
  top: 0;
  right: 0;
  background: url(http://jkvela.website/theme/snap/pix/segurosbolivar/boton_caja_herramientas.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.home-ruta #page-header #page-mast #course-toc #chapters li:last-child a {
  color: #006d38;
  padding: 20px 23px 20px 61px;
  width: 70%;
  margin: 0 auto;
}

.home-ruta #page-header #page-mast #course-toc #chapters li:last-child a::before {
  content: '';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 28px;
  height: 32px;
  background: url(http://jkvela.website/theme/snap/pix/segurosbolivar/iconos/icono_cajaherramientas_32px.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  margin-left: -32px;
  margin-top: 2px;
}

.home-ruta #page-header #page-mast #course-toc #chapters .chapter-title {
  line-height: 1.2;
  color: #fadc5d;
  text-decoration: none;
}

.home-ruta .course-content ul.topics {
  display: none;
}

:root {
  font-family: "Roboto Condensed", "Roboto", "Helvetica", sans-serif !important;
  font-size: 20px;
}

#mr-nav,
#page-header,
#region-main,
#moodle-footer,
#moodle-blocks {
  font-size: 1rem;
}

::-moz-selection {
  background: #fadc5d;
  color: #fff;
}

::selection {
  background: #fadc5d;
  color: #fff;
}

.alert.alert-danger,
#page-admin-index .releasenoteslink.alert-danger,
#page-admin-index #page-admin-index .adminerror.releasenoteslink,
#page-admin-index .adminwarning.alert-danger,
#page-admin-index #page-admin-index .adminerror.adminwarning,
#page-admin-index .adminerror.alert-danger,
#page-admin-index #page-admin-index .adminerror,
.que .formulation.alert-danger,
.que #page-admin-index .adminerror.formulation,
#page-admin-index .que .adminerror.formulation,
.que .outcome.alert-danger,
.que #page-admin-index .adminerror.outcome,
#page-admin-index .que .adminerror.outcome,
.que .comment.alert-danger,
.que #page-admin-index .adminerror.comment,
#page-admin-index .que .adminerror.comment,
.assignfeedback_editpdf_widget .label.alert-danger,
.assignfeedback_editpdf_widget #page-admin-index .adminerror.label,
#page-admin-index .assignfeedback_editpdf_widget .adminerror.label,
#page-admin-index .adminerror.alert,
#page-admin-index #page-admin-index .releasenoteslink.adminerror,
#page-admin-index #page-admin-index .adminwarning.adminerror,
#page-admin-index .que .formulation.adminerror,
.que #page-admin-index .formulation.adminerror,
#page-admin-index .que .outcome.adminerror,
.que #page-admin-index .outcome.adminerror,
#page-admin-index .que .comment.adminerror,
.que #page-admin-index .comment.adminerror,
#page-admin-index .assignfeedback_editpdf_widget .label.adminerror,
.assignfeedback_editpdf_widget #page-admin-index .label.adminerror {
  color: #2b2b2b;
  background-color: #faf3f5;
  border-color: #fadc5d;
}

div#page {
  min-height: 95vh;
}

section#coursetools {
  padding: 3rem 15%;
}

section#coursetools div#coursetools-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section#coursetools div#coursetools-list > a {
  height: auto;
  line-height: 1.1rem;
}

.pagelayout-admin #page-content {
  padding: 0 10%;
}

#page-site-index #snap-pm-header #snap-pm-close {
  display: none;
}

.theme-snap #toc-mobile-menu-toggle {
  display: none;
}

@media (max-width: 1249px) {
  #page-login-index main#moodle-page section#region-main {
    width: 75%;
  }
  .home-ruta #page-header #page-mast #course-toc {
    height: auto;
    min-height: 79vh;
    padding: 3em 4%;
  }
  .home-ruta #page-header #page-mast #course-toc #chapters {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 1rem;
  }
  .home-ruta #page-header #page-mast #course-toc #chapters li {
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
    margin: 2px;
    padding: 35px;
    margin-right: 80px;
  }
  .home-ruta #page-header #page-mast #course-toc #chapters li:nth-child(2),
  .home-ruta #page-header #page-mast #course-toc #chapters li:last-child {
    top: 1%;
    margin: 0;
  }
  .home-ruta #page-header #page-mast #course-toc #chapters li:last-child a {
    padding: 40px 20px;
    margin-top: -3%;
  }
  .separador-opciones {
    padding: 3rem 4%;
  }
  .separador-opciones h3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 900px) {
  #page-login-index main#moodle-page section#region-main {
    width: 90%;
    margin: 0 auto !important;
  }
  #moodle-footer #snap-site-footer #snap-footer-content .footer-linksalternos.footer-redes.grid-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #moodle-footer #snap-site-footer #snap-footer-content .footer-linksalternos.footer-redes.grid-container .redes {
    width: 60%;
    margin-bottom: 5px;
  }
  #moodle-footer #snap-site-footer #snap-footer-content .footer-linksalternos.footer-redes.grid-container .terminosycondiciones {
    margin-bottom: 5px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #moodle-footer #snap-site-footer #snap-footer-content .footer-linksalternos.footer-redes.grid-container .terminosycondiciones li {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    text-align: center;
  }
  #moodle-footer #snap-site-footer #snap-footer-content .footer-linksalternos.footer-redes.grid-container .copyright {
    text-align: center;
  }
  .home-ruta #page-header #page-mast {
    height: auto;
    min-height: 85vh;
  }
  .home-ruta #page-header #page-mast #course-toc {
    height: auto;
    min-height: 79vh;
  }
  .home-ruta #page-header #page-mast #course-toc #chapters {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 1rem;
  }
  .home-ruta #page-header #page-mast #course-toc #chapters li {
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
    margin: 2px;
    padding: 35px 5%;
  }
  .home-ruta #page-header #page-mast #course-toc #chapters li:nth-child(2),
  .home-ruta #page-header #page-mast #course-toc #chapters li:last-child {
    top: 5%;
  }
  .home-ruta #page-header #page-mast #course-toc #chapters li:nth-child(2) {
    left: 10%;
  }
  .por-defecto #page-header #page-mast {
    padding: 0 10%;
  }
  .por-defecto #page-header #page-mast #course-toc #chapters li .chapter-title {
    line-height: 1;
  }
  .course-content ul.topics li.section div.summary p {
    padding: 13px 10%;
  }
  .contenedor-objetivos {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    min-width: auto;
  }
  .contenedor-objetivos #objetivo-modulo {
    padding: 9.5% 7% 16.5% 9.5%;
  }
  .contenedor-objetivos #complemento-objetivos {
    min-height: 412px;
  }
  .contenedor-objetivos #complemento-objetivos .bloque {
    width: 43%;
  }
  .course-content ul.topics blockquote.blockquote p,
  .course-content ul.topics blockquote.blockquote footer {
    padding: 1.5rem 10%;
    font-size: 1rem;
  }
  .course-content ul.topics blockquote.blockquote p {
    padding-bottom: 0;
  }
  .course-content ul.topics ul.section.img-text li.snap-activity {
    min-height: 40vh;
  }
  .course-content ul.topics ul.section.img-text li.snap-activity .asset-wrapper .activityinstance .snap-asset-content {
    width: 85%;
    line-height: 1.15rem;
  }
  .separador-opciones {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .separador-opciones .opcion {
    width: 80%;
  }
  section#snap-pm-courses .coursecard {
    min-height: 45vh;
  }
  .activity-navigation .row .col-md-4:nth-child(1), .activity-navigation .row .col-md-4:nth-child(3) {
    display: none;
  }
  section#region-main div.m-t-2.m-b-1 .col-md-4 {
    min-height: 1em;
    padding: 0;
    width: 80%;
    margin: 0 auto;
  }
  .bloque-verde-derecha p, .bloque-verde-izquierda p {
    width: 65%;
  }
  #page-mod-quiz-attempt .que .ddarea {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #page-mod-quiz-attempt .que .ddarea .droparea {
    width: 100%;
  }
}

@media (max-width: 577px) {
  .home-ruta #page-header {
    padding-top: 18vh;
    background: white !important;
  }
  .home-ruta #page-header #course-toc {
    padding: 0;
  }
  .home-ruta #page-header #page-mast #course-toc #chapters li {
    padding: 30px 35px;
    -ms-flex-preferred-size: 65%;
        flex-basis: 65%;
    min-width: 300px;
  }
  .home-ruta #page-header #page-mast #course-toc #chapters li .chapter-title {
    padding: 0;
  }
  .home-ruta #page-header #page-mast #course-toc #chapters li:nth-child(2),
  .home-ruta #page-header #page-mast #course-toc #chapters li:last-child {
    top: 0px;
    position: relative;
  }
  .home-ruta #page-header #page-mast #course-toc #chapters li:nth-child(2) {
    left: 0;
    position: relative;
    text-align: center;
    margin-bottom: 15px;
  }
  .home-ruta #page-header #page-mast #course-toc #chapters li:nth-child(2) a[href="#section-1"]::before {
    margin-left: -10px;
  }
  .contenedor-objetivos #objetivo-modulo {
    width: 90%;
    min-height: 398px;
    font-size: 80%;
  }
  .contenedor-objetivos #complemento-objetivos {
    min-height: 420px;
    font-size: 85%;
  }
  .contenedor-objetivos #complemento-objetivos .bloque {
    width: 66%;
    padding: 0 10%;
  }
  .course-content ul.topics blockquote.blockquote {
    height: auto;
  }
  .course-content ul.topics ul.section.img-text li.snap-activity {
    height: auto;
  }
  .course-content ul.topics ul.section.img-text li.snap-activity:nth-child(odd)::before {
    bottom: -60px;
    top: auto;
  }
  .course-content ul.topics ul.section.img-text li.snap-activity .asset-wrapper .activityinstance .snap-asset-content {
    width: 90%;
    margin: 0 auto;
    padding: 5px;
  }
  .separador-opciones {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .video-container {
    padding-bottom: 72.25%;
  }
  h3#final-descripcion {
    width: 65%;
  }
  section#region-main {
    padding: 0;
  }
  #page-mod-lesson-view div[role="main"] p {
    padding: 1rem 10%;
    margin: 0;
  }
  #page-mod-lesson-view div[role="main"] .contenedor-imagenes img {
    width: 55%;
  }
  #page-mod-lesson-view div[role="main"] h3 {
    padding: 10px 10%;
  }
  #page-mod-lesson-view div[role="main"] .bloque-verde-derecha p, #page-mod-lesson-view div[role="main"] .bloque-verde-izquierda p {
    width: 85%;
  }
  #page-mod-quiz-attempt .que.truefalse .answer > div {
    padding: 0.5em 0.4em;
    margin-right: 5px;
  }
  #snap-pm-header .pull-right {
    right: 20px;
    position: fixed;
    top: 20px;
  }
  div#snap-pm-header-quicklinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  #snap-pm-header .snap-pm-user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 80%;
  }
  #snap-pm-header .snap-pm-user a.h1 {
    margin: 0;
    font-size: 1.3rem;
  }
  #snap-pm-header .snap-pm-user .userpicture {
    margin-bottom: 5px;
    width: 55px;
  }
  .coursecard {
    min-width: 50%;
  }
}

@media screen and (min-width: 1600px) {
  div#page {
    max-width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 991.98px) {
  #page-header #course-toc {
    position: relative !important;
  }
  #page-course-view-topics #page-header #course-toc .chapters {
    display: block;
    color: inherit;
  }
}
/*# sourceMappingURL=styles.css.map */