@import "./variables";
@import "./login";
@import "./header";
@import "./misCursos";
@import "./modulos";
@import "./ruta";
:root {
    font {
        family: 'Roboto Condensed', 'Roboto', 'Helvetica', sans-serif!important;
        size: 18px;
    }
}

::selection {
    background: $amarillo;
    color: #fff;
}

body {
    text-rendering: optimizelegibility;
}

@media screen and (min-width: 1600px) {
    div#page {
        max-width: 80%;
        margin: 0 auto;
    }
}