@import "./variables";
@import "./login";
@import "./header";
@import "./footer";
@import "./misCursos";
@import "./modulos";
@import "./lesson";
@import "./quiz";
@import "./ruta";
:root {
    font: {
        family: 'Roboto Condensed', 'Roboto', 'Helvetica', sans-serif!important;
        size: 20px;
    }
}

#mr-nav,
#page-header,
#region-main,
#moodle-footer,
#moodle-blocks {
    font-size: 1rem;
}

::selection {
    background: $amarillo;
    color: #fff;
}

.alert.alert-danger,
#page-admin-index .releasenoteslink.alert-danger,
#page-admin-index #page-admin-index .adminerror.releasenoteslink,
#page-admin-index .adminwarning.alert-danger,
#page-admin-index #page-admin-index .adminerror.adminwarning,
#page-admin-index .adminerror.alert-danger,
#page-admin-index #page-admin-index .adminerror,
.que .formulation.alert-danger,
.que #page-admin-index .adminerror.formulation,
#page-admin-index .que .adminerror.formulation,
.que .outcome.alert-danger,
.que #page-admin-index .adminerror.outcome,
#page-admin-index .que .adminerror.outcome,
.que .comment.alert-danger,
.que #page-admin-index .adminerror.comment,
#page-admin-index .que .adminerror.comment,
.assignfeedback_editpdf_widget .label.alert-danger,
.assignfeedback_editpdf_widget #page-admin-index .adminerror.label,
#page-admin-index .assignfeedback_editpdf_widget .adminerror.label,
#page-admin-index .adminerror.alert,
#page-admin-index #page-admin-index .releasenoteslink.adminerror,
#page-admin-index #page-admin-index .adminwarning.adminerror,
#page-admin-index .que .formulation.adminerror,
.que #page-admin-index .formulation.adminerror,
#page-admin-index .que .outcome.adminerror,
.que #page-admin-index .outcome.adminerror,
#page-admin-index .que .comment.adminerror,
.que #page-admin-index .comment.adminerror,
#page-admin-index .assignfeedback_editpdf_widget .label.adminerror,
.assignfeedback_editpdf_widget #page-admin-index .label.adminerror {
    color: $negro;
    background-color: #faf3f5;
    border-color: $amarillo;
}

div#page {
    min-height: 95vh;
}

section#coursetools {
    padding: 3rem 15%;
    div#coursetools-list {
        display: flex;
        flex-wrap: wrap;
        &>a {
            height: auto;
            line-height: 1.1rem;
        }
    }
}

//quitar la x para no poder regresar a la pagina principal cuando estan recien logueados
#page-site-index #snap-pm-header #snap-pm-close {
    display: none;
}

//quitar el menu que sale en mobile
.theme-snap #toc-mobile-menu-toggle {
    display: none;
}

@import "./media-queries";
@media screen and (min-width: 1600px) {
    div#page {
        max-width: 80%;
        margin: 0 auto;
    }
}

@media (max-width: 991.98px) {
    #page-header #course-toc {
        position: relative!important;
    }
}